#background-image {
  background-size: cover;
  position: absolute;
}

a {
  text-decoration: none !important;
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.menu {
  left: 0;
  top: 0;
  margin: 0 auto;
  position: fixed;
  width: 500px;
  height: 100%;
  background: #FBD2C8;
  z-index: 999999;
  overflow: hidden;
}

.img-logo {
  height: 100%;
  width: 100%;
  display: block;
  margin: 40px auto;
}


.img-container-1 {
  position: relative;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.img-container-2 {
  position: relative;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.img-container-3 {
  position: relative;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FBD2C8;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FBD2C8;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FBD2C8;
}


.img-container-1:hover .overlay {
  opacity: 1;
}

.img-container-2:hover .overlay2 {
  opacity: 1;
}

.img-container-3:hover .overlay3 {
  opacity: 1;
}

.text-1 {
  color: black;
  text-decoration: none;
  font-family: Didot bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text-2 {
  color: black;
  text-decoration: none;
  font-family: Didot bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text-3 {
  color: black;
  font-family: Didot bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#first-icon {
  height: 65px;
  width: auto;
  margin-top: 60px;
  display: block;
}

#second-icon {
  height: 100px;
  width: auto;
  margin-top: 40px;
}

#book-icon {
  height: 140px;
  margin-top: 40px;
}

.img-icon {
  height: 120px;
  width: auto;
  display: block;
  text-align: center;
  margin: 0px auto;
}

#about-cont {
  left: 700px;
  top: 100px;
  margin: 50px auto;
  position: absolute;
  height: 450px;
  width: 400px;
  z-index: 999;
  font-family: Didot bold;
  float: none;
  overflow: hidden;
  text-align: center;
  background-color: #FBD2C8;
}

#about-container {
  margin: 20px 100px 100px 200px;
  position: inherit;
  height: 650px;
  width: 400px;
  z-index: 99;
  overflow: hidden;
  text-align: center;
  background-color: none;
}

#work-container {
  left: 1300px;
  top: 0px;
  margin: 20px auto;
  position: absolute;
  height: 650px;
  width: 100%;
  z-index: 999;
  overflow: hidden;
  text-align: center;
  background-color: none;
}

#work-cont {
  left: 1400px;
  top: 100px;
  margin: 50px auto;
  position: absolute;
  height: 450px;
  width: 400px;
  font-family: Didot bold;
  text-align: center;
  color: black;
  float: none;
  z-index: 999;
  overflow: hidden;
  text-align: center;
  background-color: #FBD2C8;
}

#contact-cont {
  left: 2000px;
  top: 100px;
  position: absolute;
  margin: 50px auto;
  height: 450px;
  width: 400px;
  z-index: 999;
  font-family: Didot bold;
  text-align: center;
  color: black;
  float: none;
  overflow: hidden;
  text-align: center;
  background-color: #FBD2C8;
}

h1.content-header {
  font-family: Didot bold;
  font-size: 20px;
}

p.paragraph-content {
  font-family: Didot;
  font-size: 14px;
}
